.Inicio{
    display: flex;
    width: auto;
    height: 600px;
    align-items: center;
    background-color: rgb(199, 197, 197);
}
.Texto{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 600px;
    justify-content: center;
    align-items: start;
    gap: 20px;
    font-size: xx-large;
}

.Imagem{
    height: auto;
    width: 600px;

}

.Inicio button{
    background-color: green; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}